<section class="detalle" id="componente1">
    <h1 class="heading"></h1>
    <div class="contenedor">
        <div class="caja">
            <img src="../../../assets/img/enc1.jpg" alt="" width="400px">
            <h3>Análisis de Datos</h3>
            <p>
                El análisis de datos es el proceso de inspeccionar, limpiar, transformar y modelar datos con el objetivo de descubrir 
                información útil, llegar a conclusiones y respaldar la toma de decisiones. Consiste en aplicar técnicas y 
                herramientas para entender, interpretar y sacar conclusiones de conjuntos de datos, ya sean grandes o pequeños.
            </p>
        </div>

        <div class="caja">
            <img src="../../../assets/img/dash.png" alt="" width="400px">
            <h3>DashBoard</h3>
            <p>
                Un dashboard, en el contexto del análisis de datos, es una interfaz gráfica que muestra información clave, métricas y 
                datos relevantes de manera visual y fácilmente comprensible en una sola pantalla. Está diseñado para 
                proporcionar una vista general de indicadores importantes para facilitar la toma de decisiones rápidas e informadas.
            </p>
        </div>

        <div class="caja">
            <img src="../../../assets/img/enc2.jpg" alt="" width="400px">
            <h3>REGRESION LOGISTICA</h3>
            <p>
                La regresión logística es una técnica estadística utilizada para modelar y analizar relaciones entre una 
                variable binaria (que tiene dos resultados posibles, como "sí/no", "éxito/fracaso", "1/0", etc.) y un 
                conjunto de variables independientes.
                <br>
                A diferencia de la regresión lineal, que se utiliza para predecir valores continuos, la regresión logística 
                se emplea cuando la variable dependiente es categórica o binaria. Esta técnica estima la probabilidad de que 
                ocurra un evento utilizando una función logística.
            </p>
        </div>
    </div>
</section>
