.heading{
    text-align: center;
    background: blue;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}

.detalle .contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.detalle .contenedor .caja{
    flex: 1 1 30rem;
    background: white;
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: 0.5rem;
    text-align: center;
    transition: 0.2s linear;
}

.detalle .contenedor .caja h3{
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
}

.detalle .contenedor .caja p{
    font-size: 1.3rem;
    color: #667;
    padding: 1rem 0;

}